<nav id="nav-bar">
    <div class="nav-bar-placeholder"></div>
    {{#if @site.navigation}}
    <span id="menu-button" class="nav-button">
        <a class="menu-button"><i class="ic ic-menu"></i></a>
    </span>
    {{/if}}
</nav>