<nav id="menu">
	<div class="menu-content">
		<ul>
			{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
			{{/foreach}}
		</ul>
	</div>
	<div class="menu-footer">
		<ul>
			<li><a href="https://www.linkedin.com/in/debbabi-nader/" target="_blank" title="Linkedin"><i class="ic ic-linkedin"></i></a></li>
			<li><a href="https://github.com/debbabi-nader/" target="_blank" title="GitHub"><i class="ic ic-github"></i></a></li>
			<li><a href="javascript:void(0)" title="Email address"><i class="ic ic-mail"></i></a></li>
		</ul>
	</div>
</nav>
